.landingPage {
  background: #1e1e1e;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
