.quote {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quoteContent {
  position: relative;
  text-align: center;
  max-width: 663px;
}

.quoteMarkStart {
  font-family: 'Satoshi-Italic';
  font-size: 60px;
  color: #8585f6;
  font-style: italic;
  position: absolute;
  top: 0;
  left: -40px;
}

.quoteText {
  font-family: 'Satoshi-Italic';
  font-size: 32px;
  color: white;
  font-style: italic;
  margin: 0;
  line-height: 1.4;
  padding: 0 30px;
}

.quoteMarkEnd {
  font-family: 'Satoshi-Regular';
  font-size: 60px;
  color: #8585f6;
  position: absolute;
  bottom: -20px;
  right: -20px;
}

@media (max-width: 768px) {
  .quoteText {
    font-size: 24px;
    padding: 0 20px;
  }

  .quoteMarkStart {
    font-size: 40px;
    left: -20px;
  }

  .quoteMarkEnd {
    font-size: 40px;
  }
}
