.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logoIcon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.logoIcon svg {
  width: 100%;
  height: 100%;
}

.logoText {
  font-family: 'Satoshi-Bold';
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
}

/* Size variations */
.small .logoIcon {
  width: 29px;
  height: 29px;
}

.small .logoText {
  font-size: 31.68px;
}

.medium .logoIcon {
  width: 25px;
  height: 25px;
}

.medium .logoText {
  font-size: 24px;
}
